*{
color: rgb(#edc7b7);
/* rgb(237,199,183) */
color: rgb(#EEE2DC);
/* rgb(238,226,220) */
color: rgb(#BAB2B5);
/* rgb(186,178,181) */
color: rgb(#123C69);
/* rgb(18,60,105) */
color: rgb(#AC3B61);
/* rgb(172,59,97) */
}